
/* 어도비 폰트. */
@import url("https://use.typekit.net/ers2qgl.css");

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #040a1a; /* 어두운 배경색 */
    display: flex; /* 플렉스 박스 레이아웃 사용 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    flex-direction: column; /* 콘텐츠를 세로 방향으로 배치 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

